ul {
   background-color: #FFFFFF;    
}

body {
	margin-bottom: 80px;
	background-color: #FFFFFF;	
}
.jumbotron {
    height: 500px;
    b: url('img/profilbildlinda.jpg');
}
.panel-body{
	padding-top: 0;
}
.featuredImg {
	margin-bottom: 15px;
	width: 100%;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}