
body {
background-color: #000;
font-family: Verdana;
font-size: 16px;
color: #999
}
#navbar{

font-family: Verdana;
font-size: 16px;

}
#jumbotron{
background-color: #80D8FF;
font-family: Verdana;
font-size: 16px;
color: #406C7F;
}
#mywork
{background-color: #80D8FF;
font-family: Verdana;
font-size: 16px;
color: #406C7F;
}
#portfolio{
   color: #406C7F; 
   font-family: Verdana;s
    font-size: 16px;
    background-color: #80D8FF;
}
#contact{
    background-color: #80D8FF;
font-family: Verdana;
font-size: 16px;
color: #406C7F;
}
}
.panel-body{
	padding-top: 0;
}
.featuredImg {
	margin-bottom: 15px;
	width: 100%;
}

div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}	

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}