body {
	margin-bottom: 80px;
	background-color: #FFFFFF;
	background-image: zurich.jpg;
}
.jumbotron {
	background-image: zurich.jpg;
}
.panel-body{
	padding-top: 0;
}
.featuredImg {
	margin-bottom: 15px;
	width: 100%;
}